<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <%- include('../common/header.ejs') %>
    <br><br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <%- include('./left.ejs') %>
            </div>
            <div class="col-md-9">
                <form action="/update_blog/<%=detail[0].title %>" method="post" enctype="multipart/form-data">
                    <div class="mb-3 mt-3">
                      <label class="form-label">Title</label>
                      <input type="text" class="form-control" id="title" name="title"  value="<%=detail[0].title %>">
                    </div>
                    <div class="mb-3 mt-3">
                        <label class="form-label">Image</label>
                        <input type="file" class="form-control" id="image" name="image" value="<%=detail[0].image%>">
                    </div>
                    <div class="mb-3">
                      <label for="email" class="form-label">Description</label>
                      <input type="text" class="form-control" id="desc" name="description" value="<%=detail[0].description %>">
                    </div>
                    <div class="mb-3">
                        <label >Body:</label>
                        <textarea class="form-control" rows="5" id="comment" name="blog_body"><%=detail[0].blog_body %></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
    </div>
    
</body>
</html>